.teams {
	font-size: 30px;
	display: flex;
	justify-content: center;
	height: 200px;
	width: 100%;
}

.teams h1{
	margin-top: 50px;
	font-family: 'Exo', sans-serif;
	color: #f90;
}

.members-new{
	font-size: 30px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-top: 30px;
	width: 1200px;
}

.members{
	justify-content: center;
	display: flex;
}

.members-new{
	width: 80%;
	display: flex;
	justify-content: center;
}

.members-new-tr-1{
	width: 1000px;
	color: green;
	display: flex;
	
}

.members-new-tr-2{
	width: 1000px;
	display: flex;
}

.uniform-number{
	width: 20%;
	display: flex;
	justify-content: center;
}

.input-uniform-number{
	width: 30%; 
	font-size:24px;
	text-align: center;
}

.grade{
	width: 20%;
	display: flex;
	justify-content: center;
}

.input-grade{
	width: 30%; 
	font-size:24px;
	text-align: center;
}

.first-name{
	width: 50%;
	display: flex;
	justify-content: center;
}

.input-first-name{
	width: 50%; 
	font-size:24px;
	text-align: center;
}

.last-name{
	width: 50%;
	display: flex;
	justify-content: center;
}

.input-last-name{
	width: 50%; 
	font-size:24px;
	text-align: center;
}

.members-btn{
	font-size: 30px;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
	margin-top: 30px;
}

.members-btn:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}


.btn-members-index{
	font-size: 30px;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
	margin-top: 30px;
}

.btn-members-index:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.btn{
	margin-left: 47%;
	justify-content: space-between;
	display: flex;
}

.btn-members-index{
	margin-right: 50px;
} 

.members-main{
  background-image: url("/images/background-image-dark.jpeg");
} 