<div class="games-main">
<div class="games">
	<div class="game-registration">試合登録画面</div>
</div>
<form>
	<div class="game-inputs">
		<input type="text" placeholder="大会名" style="width: 200px; heigth: 50px;font-size:24px;"/>
		<input type="text" placeholder="日付" style="width: 200px; height: 50px;font-size:24px;"/>
	</div>
	<div class="orders">
	<table class="orders-new">
    <tr class="orders-new-tr-1">
      <th class="orders-new-th-1" style="width: 20%; height: 30px; font-size:24px;">打順</th>
      <th class="orders-new-th-2" style="width: 20%; height: 30px; font-size:24px;">背番号</th>
      <th class="orders-new-th-3" style="width: 20%; height: 30px; font-size:24px;">学年</th>
			<th class="orders-new-th-4" style="width: 60%; height: 30px; font-size:24px;">名前</th>
			<th class="orders-new-th-5" style="width: 20%; height: 30px; font-size:24px;">守備</th>
		<tr class="orders-new-tr-2">
      <td class="input-form-1"><input type="text" style="width: 30%; font-size:24px;"/></td>
      <td class="input-form-2"><input type="text" style="width: 30%; font-size:24px;"/></td>
			<td class="input-form-3"><input type="text" style="width: 30%; font-size:24px;"/></td>
			<td class="input-form-4"><input type="text" style="width: 70%; font-size:24px;"/></td>
      <td class="input-form-5"><input type="text" style="width: 30%; font-size:24px;"/></td>
    </tr>
	</table>
	</div>
	<div class="btn">
	   <%= link_to '登録', "#", class: 'btn-games-index' %>
	</div>
</form>
</div>
