.games-main-index{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/background-image-dark.jpeg");
}



/* header css */

.top-page-header{
  width: 100%;
  height: 15%;
  display: flex;

}

.header-title{
  width: 60%;
  display: flex;
  align-items: center;
}

.title{
  margin-left: 30px;
  font-family: 'Exo', sans-serif;
  color: #f90;
  font-size: 50px;
}

.lists-right{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists-right li{
  color: white;
  margin-right: 30px;
}

.login{
  width: 150px;
	font-size: 30px;
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
 }

 .login:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
 }

.sign-up{
  width: 150px;
	font-size: 30px;
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
	
}

.sign-up:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}






/* main css */

.main{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists-center{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.game-regster{
  margin-right: 20px;
  font-size: 50px;
	display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.game-regster:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}


.player-regster{
	font-size: 50px;
	display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.player-regster:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
} 


/* footer css  */
.bb-footer{
  height: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* .top-page-header{
	height: 150px;
	width: 100vw;
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
 }

 .title{
  font-family: 'Exo', sans-serif;
  color: #f90;
  font-size: 80px;
  left: 20px;
  margin-bottom: 20px;
}

.lists-right{
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

li{
	list-style: none;
}
 .login{
  width: 150px;
	font-size: 30px;
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
 }

 .login:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
 }

.sign-up{
  width: 150px;
	font-size: 30px;
  display: inline-block;
  text-align: center;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
	
}

.sign-up:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.team-name{
  font-size: 30px;
	display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
}

.team-name:hover{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.logout{
  font-size: 30px;
	display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	transition: .4s;
}

.logout:hover{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.lists-center{
  display: flex;
  gap: 50px;
}
.game-regster{
	font-size: 50px;
	display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.game-regster:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.player-regster{
	font-size: 50px;
	display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.player-regster:hover{
	-webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
} 
 */
