h2 {
  height:10vh;
  color: #FFC107;
  justify-content: center;
  display: flex;
}

.form-text-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-text-wrap-1{
  color: skyblue;
  display: flex;
  justify-content: center;
}
.form-text {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

.actions {
  font-size: 30px;
  text-align: center;
}

.links {
  text-align: center;
}

.input-default {
  width: 30%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  font-size: 24px;
  resize: none;
}

.info-text {
  font-size: large;
  color: red;
}

.register-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.register-btn-1 {
  font-size: 30px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.register-btn-1:hover{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
} 

.session-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.session-btn-1 {
  font-size: 30px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.session-btn-1:hover{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
} 

.sessions{
  height: calc(100vh);
  background-image: 
    url("/images/background-image-dark.jpeg")
}

.registrations{
  height: calc(100vh);
  background-image: 
    url("/images/background-image-dark.jpeg")
}