<div class="teams">
	<h1>チーム名選手編集</h1>
</div>
<form>
	<div class="members">
		<table class="members-new">
			<tr class="members-new-tr-1">
				<th class="uniform-number">背番号</th>
				<th class="grade">学年</th>
		<th class="first-name">姓</th>
				<th class="last-name">名</th>
			</tr>
			<tr class="members-new-tr-2">
			<td class="uniform-number">
					<input type="text" class="input-uniform-number"/>
				</td>
				<td class="grade">
					<input type="text" class="input-grade"/>
				</td>
				<td class="first-name">
					<input type="text" class="input-first-name"/>
				</td>
				<td class="last-name">
					<input type="text" class="input-last-name"/>
				</td>
			</tr>
		</table>
	</div>
<div class="btn">
	<input type="submit" value="更新" class="members-btn">
	<%= link_to '一覧', members_path, class: 'btn-members-index' %>
</div>
</form>